*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f0f0f0;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    /*linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);*/
}

/* BOTON ARRIBA*/

/*HEADER*/
#header{
    position: relative;
    width: 100%;
}

.menu{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #fff;

   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 9000;
}

.menu .logo-box{
   margin-left: 20px;
   color: #000;
}

.menu .logo-box h1{
   font-size: 35px;
   font-weight: 400;
}

.volver{
    margin: auto 50px auto 0;
}

.volver.volver p{
    display: inline-block;
    margin: auto 15px;
    color: #000;
    font-size: 20px;
}

.volver a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.volver a:hover:hover{
    color: #f23528;
}

.menu .logo-box h1 span{
    font-size: 20px;
}

/* img header */

.img-header{
   position: relative;
   width: 100%;
   height: 80vh;
   background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS469z11JpUfMkcoxO7dxf_2lhk5xAEfvChhw&usqp=CAU);
   background-attachment: fixed;  /* EFECTO PARALAX - NO SE MUEVE EN EL SCROLL */
   background-position: center;
   background-size: cover;
}

.img-header .welcome{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .6);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
}

.img-header .welcome h2{
   font-size: 50px;
   color: #fff;
   font-weight: 200;
}

.img-header .welcome hr{
   width: 400px;
   height: 2px;
   background: #fff;
   border: none;
   margin-top: 5px;
}

.img-header .welcome p{
   font-size: 20px;
   color: #fff;
   margin-top: 20px;
}


/*SKEW*/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width:  0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #f0f0f0 transparent;
}

/*----------------------*/
.container{
    width: 85%;
}

main h2{
    font-weight: 400;
    margin: 70px auto 0;
    border-bottom: 1px solid #000;
}

section{
    margin-bottom: 50px;
}

.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
    border-radius: 15px;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    object-fit:contain;
}

.galeria img:hover{
/*transform: scale(1.04);*/
transition: 800ms;
}

.materialbox-caption{
    bottom: 5px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 5px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col{
    margin-bottom: 25px;
}

/*---------FOOTER----------------*/
.footer  .footer-text{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .8);
    border-top: 5px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer  .footer-text p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/*MEDIA QUERY*/
@media screen and (max-width: 600px){
    .materialbox-caption{
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption{
        width: 70%;
    }
}